<%- include("../partials/header") %>

<div class="container">    
    <header class="jumbotron">
        <div class="container">
            <h1 class="welcome">Welcome to YelpCamp!</h1>
            <p class="picked">Here are our hand-picked camp sites from all across the world</p>
            <p>
                <a class="btn btn-info btn-lg" href="/campgrounds/new"> Create new Campground</a>
            </p>
            <form action="/campgrounds" method="GET" class="form-inline" autocomplete="off">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Search Campground.." class="form-control mr-2">
                    <button class="btn btn-primary btn-small">Submit</button>
                </div>
                
            </form>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">

        <% campgrounds.forEach(function(camp){ %>
            <div class="col-sm-12 col-md-6 col-xl-4 card-div">
                <div class="card mb-3">
                    <img src="<%= camp.image %>" class="card-img-top" alt="<%= camp.name %>">
                    <div class="card-body" style="text-align: center;">
                        <h3 class="card-title"><%= camp.name %></h3>
                    </div>
                    <p style="text-align: center;">
                        <a href="/campgrounds/<%= camp._id %>" class="btn btn-info">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

</div>

<%- include("../partials/footer") %>